    
*
    box-sizing: border-box

body
    font-family: 'Roboto', sans-serif
    padding-top: 44px

.container
    max-width: 1200px
    margin: auto

.main   
    background: linear-gradient(180deg, rgba(245, 245, 245, 0) 1.04%, #F5F5F5 100%)

button, a
    cursor: pointer
    outline: none

@import 'header'

@import 'promo'

@import 'cards'

@import 'footer'

@import 'modal'

@import 'media'

